<div class="titlebar">
    <div class="container">
        <h4 class="no-margin title"><i class="fa fa-cutlery"></i> Lazeez E Niyaz</h4>
    </div>
</div>

<div class="container menu">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="col-xs-6 col-sm-6 menu-item active-grey-backdrop">
                <span ng-click="redirectTo('/dashboard')" class="menu-edit"><i class="fa fa-home"></i> HOME</span>
            </div>
            <div class="col-xs-6 col-sm-6 menu-item">
                <span ng-click="redirectTo('/edit')" class="menu-edit"><i class="fa fa-pencil"></i> EDIT</span>
            </div>
        </div>
    </div>
</div>

<div class="line">
    <span class="balance" ng-class="{'bg-orangered-transparent': total<0}">{{(total<0)?total*-1:total | currency: "₹ "}}</span>
</div>

<div class="container">
    <div class="expense-log">
        <div class="text-center">
            <button type="button" class="btn log-title" ng-click="showDatePicker=true"><i class="fa fa-calendar"></i> {{currentDay}}</button>
        </div>

        <!--<h3 class="log-title" data-toggle="modal" data-target="#myModal"></h3>-->
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="col-xs-6 col-sm-6 tag-header border-white-xb bg-orangered-transparent text-center"><i
                        class="fa fa-minus-circle width-16"></i> Expense
                </div>
                <div class="col-xs-6 col-sm-6 tag-header border-white-xb text-center"><i
                        class="fa fa-money width-16"></i> Income
                </div>
            </div>
            <div class="col-xs-12 col-sm-12">
                <div class="col-xs-6 col-sm-6 tag-body border-white border-white-xt text-center">{{currentExpense |
                    currency: "₹
                    "}}
                </div>
                <div class="col-xs-6 col-sm-6 tag-body border-white-xt text-center">{{currentIncome | currency: "₹ "}}
                </div>
            </div>
        </div>
        <div class="row list">
            <div class="col-xs-12 col-sm-12 list-item {{(item.type == 0)?'debit':'credit'}}" ng-repeat="item in data">
                <div class="col-xs-6 col-sm-6">
                    {{$index + 1}}. {{item.name}}
                    <!--<i class="fa {{(item.type == 0)?'fa-minus-circle':'fa-plus-circle'}}"></i>-->
                </div>
                <div class="col-xs-6 col-sm-6">
                    {{item.amount | currency: "₹ "}}
                    <div class="pull-right" ng-click="showPrompt(true, item.id)">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!--<div id="myModal" class="modal fade" role="dialog">-->
    <!--<div class="modal-dialog">-->

        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <!--<h5 class="modal-title"><i class="fa fa-calendar"></i> Select Date</h5>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<input onfocus="(this.type='date')" id="newDate" placeholder="Date" class="input-text input-filter-date unstyled" ng-model="newDate">-->
                <!--<button class="btn-orange" ng-click="getNewInfo()" data-dismiss="modal">Get Info</button>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

<!-- PROMPT -->
<div class="confirm-container table" ng-show="showPrompt()">
    <div class="table-cell">
        <div class="confirm-wrapper">
            <h3 class="confirm-header">Confirm Delete?</h3>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <button class="btn-orange" ng-click="deleteRow()">Delete</button>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <button class="btn-orange btn-white" ng-click="showPrompt(false)">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="alert-container table" ng-show="showDatePicker">
    <div class="table-cell">
        <div class="alert-wrapper">
            <div class="alert-header bg-e44040"><i class="fa fa-calendar"></i> Select Date</div>
            <div class="container">
                <input type="date" id="newDate" placeholder="Date" class="input-text input-filter-date unstyled" ng-model="newDate">
                <button class="btn-orange bg-848484" ng-click="getNewInfo()">Submit</button>
            </div>
        </div>
    </div>
</div>