<div class="titlebar">
    <div class="container">
        <h4 class="no-margin title"><i class="fa fa-cutlery"></i> Lazeez E Niyaz</h4>
    </div>
</div>

<div class="container menu">
    <span><i class="fa fa-home"></i> HOME</span>
    <span class="active menu-edit"><i class="fa fa-pencil"></i> EDIT</span>
</div>

<div class="container">
    <div class="row">
        <div class="add-info">
            <h5>Business Expense <i class="fa fa-pencil pull-right fa-money fa-bg-circle"></i></h5>
            <hr class="no-margin">
            <input type="date" placeholder="Date" class="input-text">
            <input type="text" placeholder="Item" class="input-text">
            <input type="text" placeholder="Cost" class="input-text">
            <button class="btn-orange">Submit</button>

            <h5>Business Income <i class="fa fa-dollar pull-right fa-bg-circle"></i></h5>
            <hr class="no-margin">

            <input type="date" placeholder="Date" class="input-text">
            <input type="text" placeholder="Income Source" class="input-text">
            <input type="text" placeholder="Amount" class="input-text">
            <button class="btn-orange bg-green">Add Income</button>

        </div>
    </div>
</div>