<div class="titlebar">
    <div class="container">
        <div class="row">
            <h4 class="no-margin title"><i class="fa fa-cutlery"></i> Lazeez E Niyaz</h4>
        </div>
    </div>
</div>

<div class="container menu">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div class="col-xs-6 col-sm-6 menu-item">
                <span ng-click="redirectTo('/dashboard')" class="menu-edit"><i class="fa fa-home"></i> HOME</span>
            </div>
            <div class="col-xs-6 col-sm-6 menu-item active-grey-backdrop">
                <span ng-click="redirectTo('/edit')" class="menu-edit"><i class="fa fa-pencil"></i> EDIT</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="add-info">
            <h5><span class="h4 no-margin">Business Expense</span> <i class="fa fa-pencil pull-right fa-money fa-bg-circle"></i></h5>
            <hr class="no-margin">
            <input type="date" placeholder="Date" ng-model="expense.date" class="input-text">
            <input type="text" placeholder="Item" ng-model="expense.tag" class="input-text">
            <input type="text" placeholder="Cost" ng-model="expense.amount" class="input-text">
            <button class="btn-orange" ng-click="addExpense()">Submit</button>

            <h5><span class="h4 no-margin">Business Income</span> <i class="fa fa-dollar pull-right fa-bg-circle"></i></h5>
            <hr class="no-margin">

            <input type="date" placeholder="Date" ng-model="income.date" class="input-text">
            <input type="text" placeholder="Income Source" ng-model="income.tag" class="input-text">
            <input type="text" placeholder="Amount" ng-model="income.amount" class="input-text">
            <button class="btn-orange bg-green" ng-click="addIncome()">Add Income</button>

        </div>
    </div>
</div>